[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
Flask = "*"
logstash_formatter = "*"
requests = "*"
m2crypto = "*"
httplib2 = "*"

[requires]
python_version = "3.7"
